<script type="text/ng-template" id="testsuite_template.html">
    <div ui-tree-handle class="pull-left tree-handle angular-ui-tree-handle" style="background-color: darkblue">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="tree-node-content">
        <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)"><span
                        class="glyphicon"
                        ng-class="{'glyphicon-chevron-right': collapsed,'glyphicon-chevron-down': !collapsed}"></span></a>
        <input type="text" data-nodrag ng-model="node.title" class="form-control" style="width:70%; display:inline-block" />
        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="vm.remove(this)">X</a>
        <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="vm.newSubItem(this)" style="margin-right: 8px;">Y</span></a>
    </div>
    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'testsuite_template.html'">
        </li>
    </ol>
</script>

<script type="text/ng-template" id="testcase_template.html">
    <div ui-tree-handle class="pull-left tree-handle angular-ui-tree-handle" style="background-color: darkblue">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="tree-node-content">
        <input type="radio" ng-model="vm.selectedTestCase" ng-change="vm.selectTestCase(node);" ng-value="node" style="width:20px; height:20px" />
        <input type="text" ng-model="node.title " class="form-control " style="width:70%; display:inline-block" />
        <a class="pull-right btn btn-danger btn-xs " ng-click="vm.remove(this) ">
            <span class="glyphicon glyphicon-remove "></span></a>

    </div>
</script>

<script type="text/ng-template " id="teststep.html">
    <div ui-tree-handle class="pull-left tree-handle angular-ui-tree-handle " style="background-color: darkblue ">
        <i class="fa fa-bars " aria-hidden="true "></i>
    </div>
    <div class="tree-node-content ">
        <div class="row ">
            <div class="col-xs-12 col-md-5 ">
                <input type="text " data-nodrag ng-model="testStep.action" class="form-control" />
            </div>
            <div class="col-xs-12 col-md-4 ">
                <input type="text " data-nodrag ng-model="testStep.expectedResult" class="form-control" ng-blur="vm.addNewStep()" />
            </div>
            <div class="col-xs-12 col-md-2 ">
                <a class="pull-right btn btn-danger btn-xs " data-nodrag ng-click="vm.remove(this) "><span
                        class="glyphicon glyphicon-remove "></span></a>
            </div>
        </div>
    </div>
</script>

<div layout="column">
	<div class="view-header">

	</div>
	<div layout="row" class="view-content">
		<md-card flex>
			<md-card-content>
				<h3>Project Details</h3>
				<md-divider></md-divider>
				<div layout="column">
					<div layout="row">
						<md-input-container flex="40">
							<label for="name">Name</label>
							<input type="text" id="email" ng-model="vm.project.name" required/>
						</md-input-container>
						<md-input-container flex="60">
							<md-tooltip md-direction="down">
								Here you can write more text if you wish.
							</md-tooltip>
							<label for="desc">Description</label>
							<textarea id="desc" ng-model="vm.project.description"></textarea>
						</md-input-container>
					</div>
					<div>
						<md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect md-dynamic-height="true">
							<md-tab label="Test Suites">
								<div class="md-padding">
									<div class="row">
										<div class="col-sm-12">
											<h3>Test Suites</h3>
											<button ng-click="vm.newItem()" class="btn btn-primary"> <span class="glyphicon glyphicon-plus"></span> Add new</button>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div ui-tree id="tree-root" class="angular-ui-tree">
												<ol ui-tree-nodes ng-model="vm.project.testSuites">
													<li ng-repeat="node in vm.project.testSuites" ui-tree-node ng-include="'testsuite_template.html'"></li>
												</ol>
											</div>
										</div>
									</div>
								</div>
							</md-tab>
							<md-tab label="Test Cases">
								<div class="md-padding">
									<div class="row">
										<div class="col-sm-12 col-md-6 col-lg-3">
											<h3>Test Cases</h3>
											<div class="form-inline">
												<div class="form-group">
													<select style="display: inline-block" class="form-control" ng-model="vm.selectedTestSuite" ng-options="option.title for option in vm.getAllTestSuites() track by option.id">
                                    <option >Select a Test Suite</option>
                                </select>
												</div>
												<div class="form-group">
													<button style="display: inline-block" ng-click="vm.addNewTestCase(vm.selectedTestSuite)" class="btn btn-primary"> <span class="glyphicon glyphicon-plus"></span> Add new</button>
												</div>

											</div>



										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">

										</div>
									</div>
									<div class="row">
										<div class="col-sm-4">
											<div ui-tree id="tree-root" class="angular-ui-tree">
												<ol ui-tree-nodes ng-model="vm.selectedTestSuite.testCases">
													<li ng-repeat="node in vm.selectedTestSuite.testCases" ui-tree-node ng-include="'testcase_template.html'"></li>
												</ol>
											</div>
										</div>
										<div class="col-sm-8" ng-show="vm.selectedTestCase">
											<div class="row">
												<div class="col-xs-12">
													<h4>{{vm.selectedTestCase.title}}</h4>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-12">
													<label>Show Cummulated Result</label>
													<input type="checkbox" ng-model="vm.selectedTestCase.showCummulatedExpectedResult" ng-change="vm.showCummulatedResult(vm.selectedTestCase.showCummulatedExpectedResult)"
													/>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12 col-md-5">
													<label> Action</label>
												</div>
												<div class="col-sm-12 col-md-7">
													<label> Expected Result</label>
												</div>
											</div>
											<div class="row">
												<div ui-tree id="tree-root" class="angular-ui-tree">
													<ol ui-tree-nodes ng-model="vm.selectedTestCase.testSteps" id="test-step-nodes">
														<li ng-repeat="testStep in vm.selectedTestCase.testSteps" ui-tree-node ng-include="'teststep.html'"></li>
													</ol>
												</div>
											</div>
											<div class="row" ng-show="vm.selectedTestCase.cummulatedExpectedResult !== undefined">
												<label> Cummulated Result</label>
												<input class="form-control" type="text" ng-model="vm.selectedTestCase.cummulatedExpectedResult" />
											</div>
										</div>
									</div>
								</div>
							</md-tab>
							<md-tab label="Settings">
								<div class="md-padding">

								</div>
							</md-tab>
						</md-tabs>
					</div>

				</div>
				</form>
			</md-card-content>
		</md-card>
		<md-fab-speed-dial md-open="vm.fabOpen" md-direction="{{vm.appCtrl.fabDirection()}}" class="page-control-fab" hide show-gt-sm>
			<md-fab-trigger>
				<md-button aria-label="menu" class="md-fab md-primary" ng-click="vm.saveProject();" ng-disabled="!vm.isModified()">
					<md-tooltip md-direction="top" md-visible="tooltipVisible">Save</md-tooltip>
					<md-icon>add</md-icon>
				</md-button>
			</md-fab-trigger>
			<md-fab-actions>
				<md-button aria-label="cancel" class="md-fab md-raised md-mini" ui-sref="app.projects">
					<md-tooltip md-direction="down" md-visible="tooltipVisible">Cancel</md-tooltip>
					<md-icon>clear</md-icon>
				</md-button>

			</md-fab-actions>
		</md-fab-speed-dial>
		<md-fab-speed-dial md-open="vm.fabOpen2" md-direction="up" class="md-scale page-control-fab" hide-gt-sm>
			<md-fab-trigger>
				<md-button aria-label="menu" class="md-fab md-primary">
					<md-icon>menu</md-icon>
				</md-button>
			</md-fab-trigger>
			<md-fab-actions>
				<md-button aria-label="save" class="md-fab md-raised md-warn md-mini" ng-click="vm.saveProject();" ng-disabled="!vm.isModified()">
					<md-tooltip md-direction="left" md-visible="vm.fabOpen2" class="right-5">Save</md-tooltip>
					<md-icon>add</md-icon>
				</md-button>
			</md-fab-actions>
			<md-fab-actions>
				<md-button aria-label="cancel" class="md-fab md-raised md-mini" ui-sref="app.projects">
					<md-tooltip md-direction="left" md-visible="vm.fabOpen2" class="right-5"> Cancel</md-tooltip>
					<md-icon>clear</md-icon>
				</md-button>
			</md-fab-actions>
		</md-fab-speed-dial>
	</div>