<md-sidenav style="height:100%" layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
	<md-toolbar class="md-tall md-hue-1">
		<span flex></span>
		<div layout="column" class="md-toolbar-tools-bottom inset">
			<img ng-src="http://lorempixel.com/50/50/people?1" class="md-avatar" alt="Oddr Sarno" src="http://lorempixel.com/50/50/people?1">
			<span></span>
			<div>{{$ctrl.getCurrentUser().name}}</div>

		</div>
	</md-toolbar>
	<md-content flex class="sidebar">
		<md-menu-item flex layout="row">
			<md-button ui-sref="app.workspace">
				<span flex="15">
                  <md-icon>dashboard</md-icon>
                </span>
				<span flex md-menu-align-target>Workspace</span>
			</md-button>
		</md-menu-item>
		<md-menu-item flex layout="row">
			<md-button ui-sref="app.projects" layout-align="center center">
				<span flex="15" layout-align="center center">
          <md-icon>description</md-icon>
        </span>
				<span flex md-menu-align-target>Projects</span>
			</md-button>
		</md-menu-item>
		<md-divider></md-divider>
	</md-content>
</md-sidenav>