<div class="row">
    <div class="col-xs-12 col-md-6">
        <button type="button" class="btn btn-success" ng-click="$ctrl.play()" ng-disabled="$ctrl.ticker">
                    <span class="glyphicon glyphicon-play " aria-hidden="true"></span>
                </button>
        <button type="button" class="btn btn-primary" ng-click="$ctrl.pause()" ng-disabled="!$ctrl.ticker">
                    <span class="glyphicon glyphicon-pause " aria-hidden="true"></span>
                </button>
        <button type="button" class="btn btn-danger" ng-click="$ctrl.stop()">
                    <span class="glyphicon glyphicon-stop " aria-hidden="true"></span>
                </button>
        <h2 ng-bind="$ctrl.time"></h2>
    </div>
</div>