<div layout="row" layout-fill>
	<navbar></navbar>
	
  <div layout="column" layout-fill>
		<md-toolbar>

			<div class="md-toolbar-tools">
				<span>{{$root.title}}</span>

				<!-- fill up the space between left and right area -->
				<span flex></span>

				<md-button>
					Right Bar Button
				</md-button>
				<md-menu md-position-mode="target-right target">
					<md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
					  <md-icon>person</md-icon>
					</md-button>

					<md-menu-content width="4">
						<md-menu-item>
							<md-button ng-click="ctrl.announceClick($index)">
								<div layout="row" flex>
									<p flex>Log out</p>
									<md-icon style="margin: auto 3px auto 0;">power_settings_new</md-icon>
								</div>
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
			</div>

		</md-toolbar>

		<md-content ui-view>


		</md-content>
	</div>

</div>