<div layout="column">
	<md-toolbar class="landing-nav" layout="row" layout-padding layout-align="start center" class="md-whiteframe-z2" style="padding:0px;margin:0px;position:fixed;">
		<h2 class="logo-text left-10">TestCaser</h2>
		<span flex></span>
		<md-button ui-sref="login">
			Log In
		</md-button>
		<md-button ui-sref="signup">
			Sign Up
		</md-button>
	</md-toolbar>

	<md-content flex >
		<div layout="row" style="margin-top:100px;" class="banner">
			<!--<md-card flex flex-gt-sm="33" class="top-20 fadeInLeft animated">
				<md-card-content>
					<p>The best testmanager!</p>
				</md-card-content>
			</md-card>-->
		</div>
		<div layout="row" layout-align="space-around center">
			<div>
				<md-icon class="md-48">dashboard</md-icon>
				<p class="text-justify"> Organize your projects </p>
			</div>
			<div>
				<md-icon class="md-48">dashboard</md-icon>
				<p class="text-justify"> Collaborate </p>
			</div>
			<div>
				<md-icon class="md-48">account-multiple</md-icon>
				<p class="text-justify"> Organize your projects </p>
			</div>
		</div>
		<section layout="row" layout-align="space-around center">
			<div>A</div>
			<div>B</div>
			<div>C</div>
		</section>
		<section layout="row" layout-align="space-around center">
			<div>A</div>
			<div>B</div>
			<div>C</div>
		</section>
		<section layout="row" layout-align="space-around center">
			<div>A</div>
			<div>B</div>
			<div>C</div>
		</section>
		<section layout="row" layout-align="space-around center">
			<div>A</div>
			<div>B</div>
			<div>C</div>
		</section>
	</md-content>
</div>