<div layout="row" layout-fill>
	<md-sidenav layout-fill layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
		<md-toolbar class="md-tall md-hue-2">
			<span flex></span>
			<div layout="column" class="md-toolbar-tools-bottom inset">
				<user-avatar></user-avatar>
				<span></span>
				<div>Firstname Lastname</div>
				<div>email@domainname.com</div>
			</div>
		</md-toolbar>
	</md-sidenav>
	<div layout="column" layout-fill>
		<md-toolbar>

			<div class="md-toolbar-tools">
				<span>My App's Title</span>

				<!-- fill up the space between left and right area -->
				<span flex></span>

				<md-button>
					Right Bar Button
				</md-button>
			</div>

		</md-toolbar>
        <div layout-fill style="background-color:gray; ">

            
        </div>
	</div>

</div>