<nav class="navbar navbar-default" sticky offset="50">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li ng-class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Selected Project: {{workspaceCtrl.selectedProject.name}} 
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li ng-repeat="project in workspaceCtrl.projects" ng-click="workspaceCtrl.setSelectedProject(project)"><a href="#">{{project.name}}</a></li>
                </ul>
            </li>
        </ul>
        <div class="nav navbar-nav navbar-right">
            <div class="navbar-header">
                <a class="navbar-brand pull-right" href="#">{{$root.title}}</a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <table class="table borderless">
        <tbody ng-repeat="testSuite in workspaceCtrl.selectedProject.test_suites" ng-include="'tree_item.html'">

        </tbody>
    </table>
</div>

<script type="text/ng-template" id="tree_item.html">
    <tr>
        <td>
            {{ testSuite.title }}
        </td>
        <td class="absorbing-column">
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" title="{{workspaceCtrl.getSuccessPercent(testSuite)}}" ng-style="{'width': workspaceCtrl.getSuccessPercent(testSuite)}">
                    Succeeded
                </div>
                <div class="progress-bar progress-bar-danger" role="progressbar" title="{{workspaceCtrl.getFailurePercent(testSuite)}}" ng-style="{'width': workspaceCtrl.getFailurePercent(testSuite)}">
                    Failed
                </div>
            </div>
        </td>
        <td>
            <button open-window="/play-testsuite/{{workspaceCtrl.selectedProject._id}}/{{testSuite.id}}" class="btn btn-success">
                Start
                </button>
        </td>
    </tr>
    <tr ng-repeat="testSuite in testSuite.nodes">
        <td colspan="3">
            <table class="table borderless" ng-include="'tree_item.html'">

            </table>
        </td>
    </tr>
</script>