<div layout="column" layout-align="center center">
	<h1 class="logo-text" ui-sref="landing" style="cursor: pointer">TestCaser</h1>
	<div layout="row" layout-fill layout-align="center center">
		<md-card flex flex-gt-sm="30" class="top-20 fadeIn animated">
			<md-card-content>
				<form class="form" name="form" ng-submit="vm.register(form)" novalidate>
					<div layout="column" layout-align="center center">
						<h2>Sign Up</h2>
					</div>
					<div layout="column" layout-fill>
						<md-input-container>
							<label>Name</label>
							<input type="text" name="name" class="form-control" ng-model="vm.user.name" required/>
							<p class="help-block" ng-show="form.name.$error.required && vm.submitted">
								A name is required
							</p>
						</md-input-container>
						<md-input-container>
							<label>Email</label>
							<input type="email" name="email" class="form-control" ng-model="vm.user.email" required mongoose-error/>

							<p class="help-block" ng-show="form.email.$error.email && form.email.$touched">
								Doesn't look like a valid email.
							</p>
							<p class="help-block" ng-show="form.email.$error.required && vm.submitted">
								What's your email address?
							</p>
							<p class="help-block" ng-show="form.email.$error.mongoose">
								{{ vm.errors.email }}
							</p>

						</md-input-container>
						<md-input-container>
							<label>Password</label>
							<input type="password" name="password" class="form-control" ng-model="vm.user.password" ng-minlength="6" required mongoose-error/>
							<p class="help-block" ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
								Password must be at least 6 characters.
							</p>
							<p class="help-block" ng-show="form.password.$error.mongoose">
								{{ vm.errors.password }}
							</p>
						</md-input-container>
						<md-input-container>
							<label>Confirm Password</label>
							<input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword" match="vm.user.password"
								ng-minlength="6" required/>
							<p class="help-block" ng-show="form.confirmPassword.$error.match && vm.submitted">
								Passwords must match.
							</p>
						</md-input-container>

						<md-button type="submit" class="md-primary md-raised"> Sign up</md-button>
						<md-button class="md-raised" ui-sref="login">Login</md-button>
						<md-divider class="top-15 bottom-15"></md-divider>
						<oauth-buttons layout-fill></oauth-buttons>
					</div>
				</form>
			</md-card-content>
		</md-card>
	</div>

</div>
<style>
	body {
		background-color: #f4f4f4;
	}
</style>